body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.row {
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group {
    flex: 1;
}
#box {
    width: 1300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form-group {
    margin-left: 10px;
}
input[type="button"] {
    padding: 8px 16px;
    background-color: #4caf50;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
input[type="button"]:hover {
    background-color: #45a049;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
li:hover {
    background-color: #f0f0f0;
}
#deadline {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 1px; 
    color: blue;
}